<!-- app/templates/app/success.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>
    <h2>Success!</h2>
    <p>Data submitted:</p>
    <ul>
        <li>Field 1: {{ data.field1 }}</li>
        <li>Field 2: {{ data.field2 }}</li>
        <li>Field 3: {{ data.field3 }}</li>
        <li>Field 4: {{ data.field4 }}</li>
        <li>Field 5: {{ data.field5 }}</li>
        <li>Field 6: {{ data.field6 }}</li>
        <li>Result: {{ data.result }}</li>
    </ul>
</body>
</html>
